name: recognize
description: A sample command-line application with basic argument parsing.
version: 0.0.1
# repository: https://github.com/my_org/my_repo
publish_to: none

environment:
  sdk: ^3.8.0-265.0.dev

# Add regular dependencies here.
dependencies:
  args: ^2.5.0
  mnn:
    path: ../..
  dartcv4: ^2.1.0+1

dev_dependencies:
  lints: ^5.0.0
  test: ^1.24.0

hooks:
  user_defines:
    dartcv4:
      exclude_modules:
        - contrib
        - calib3d
        - features2d
        - dnn
        - highgui
        - flann
        - objdetect
        - photo
        - stitching
        - video
        - videoio
    mnn:
      defines:
        MNN_SUPPORT_BF16: ON
        MNN_BUILD_OPENCV: OFF
        MNN_LOW_MEMORY: OFF
        MNN_METAL: ON
        MNN_OPENCL: ON
